@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f8fafc;
  color: #0f172a;
}

/* Style tambahan agar UI Pasarqu tetap cantik */
.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(226, 232, 240, 0.8);
}

.no-scrollbar::-webkit-scrollbar { display: none; }